@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

.input {
    padding: 10px 12px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    outline: none;
}

.btn {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    margin: 0;
    color: #fff;
    background: #007BFF;
    border-radius: 6px;
}
