.carouselItem {
    width: 360px;
    height: 130px;
    display: flex;
    margin: 0 40px;
    transition: ease-in 1s all;
}

.carouselItem:hover {
    cursor: pointer;
}

#imgOutline {
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    margin-right: 20px;
}

#carImg {
    height: 100%;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#carTitle {
    font-size: 15px;
    font-weight: 400;
    color: #111;
    height: 20px;
    overflow: hidden;
}

#carDesc {
    font-size: 13px;
    font-weight: 400;
    color: #333;
    height: 60px;
    overflow: hidden;
}

#carCat {
    font-size: 12px;
    font-weight: 400px;
    color: #333;
}

@media (max-width: 600px){
    .carouselItem {
        width:  100%;
        height: 80px;
        margin: 0;
    }
}