#carouselSection {
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 5%);
    border-bottom: 1px solid #ddd;
}

#carouselList {
    width: 70%;
    display: flex;
    justify-content: center;
}

.toggleBtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: #444;
}

.toggleBtn:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #carouselSection {
        height: 140px;
    }

    #carouselList {
        width: 90%;
    }

    .toggleBtn {
        display: none;
    }
}