.storePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dealText {
    color: red;
}

.pageHeading {
    margin: 30px 0 30px 0;
}

.couponList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 40px 40px;
    justify-content: center;
}