
#heroSection {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    background: url("/vis.jpg") no-repeat center center/cover;
    position: relative;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

#heroContent {
    width: 700px;
}

#heroHeader {
    color: #fff;
    font-size: 50px;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#heroText {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

#buttonRow {
    display: flex;
    margin-top: 20px;
}

.jumpButton {
    background-color: #ffc000;
    padding: 14px 34px;
    border-radius: 26px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
}

.jumpButton:hover {
    cursor: pointer;
}

.transButton {
    background: transparent;
    padding: 14px 34px;
    border-radius: 26px;
    border: 2px solid #fff;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.transButton:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #heroContent {
        width: 300px;
    }
    #heroHeader {
        font-size: 35px;
    }
    #heroText {
        font-size: 17px;
    }
    .transButton {
        display: none;
    }
}

@media (max-width: 500px) {
    #container {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    #heroContent {
        width: 100%;
    }
    #heroHeader {
        font-size: 20px;
    }
    #heroText {
        font-size: 12px;
    }
    .transButton {
        display: none;
    }
}