#catItem {
    width: 200px;
    height: 75px;
    margin: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

#catImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#catAlt {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #f50606;
    color: #fff;
}

#catItem:hover #catImg{
    display: none;
}

#catItem:hover #catAlt {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#countText {
    font-size: 18px;
    font-weight: 400;
}

#entryName {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 600px) {
    #catItem {
        width: 100px;
        height: 35px;
        margin: 10px;
        box-shadow: none;
        border: 1px solid #ddd;
    }

    #entryName {
        font-size: 11px;
    }
}