#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 2;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

#exitBtn {
    background: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
}

#exitBtn:hover {
    cursor: pointer;;
}

#modalHeader {
    background: #721999;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 16px 0;
}

#modalBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

#couponTitle {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}

#couponDesc {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    width: 90%;
    text-align: center;
}

#catName {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    margin-bottom: 40px;
}

#siteBtn {
    margin-top: 40px;
    background: #ffcc00;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    height: fit-content;
    box-shadow: -1px 6px 19px rgb(255 204 0 / 20%);
    padding: 10px 36px;
}

#siteBtn:hover {
    cursor: pointer;
}

#code {
    border: 1px dashed #aaa;
    position: relative;
    padding: 16px 80px;
    border-radius: 4px;
}

#codeText {
    font-size: 18px;
    font-weight: 400;
}

#copyBtn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
}

@media (max-width: 600px){
    #modal {
        width: 260px;
    }
}