#footer {
    width: 100%;
    background: #041332;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f50606;
    padding-top: 40px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#copyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background: #000;
}

#copyright {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.footerColumn {
    width: 300px;
}

#columnHeader {
    font-size: 18px;
    font-weight: 400px;
}

#about {
    font-size: 14px
}

.navLink {
    font-size: 13px;
    border-bottom: 1px solid #fff;
    padding: 10px 0 ;
    width: 200px;
}

.navLink:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #container {
        width: 90%;
    }
    .footerColumn {
        margin: 20px 0;
        width: 260px;
    }
    #copyright {
        font-size: 12px;
    }
    .navLink {
        font-size: 11px;
    }
    #about {
        font-size: 11px;
    }
}