
#nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#navTop {
    width: 100%;
    background-color: #f50606;
    display: flex;
    justify-content: center;
}

#container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#navLogo {
    width: 360px;
}

#navLogo:hover {
    cursor: pointer;
}

#navBottom {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d7d7d7;
}

#navLinks {
    list-style-type: none;
    display: flex;
    width: 75%;
}

#navLinks > *:first-child {
    border-left: 1px solid #d7d7d7;
}

.navLink {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 700;
    height: 38px;
    padding: 0 20px;
    border-right: 1px solid #d7d7d7;
}

.navLink:hover {
    border-bottom: 2px solid #f50606;
}

#searchGroup {
    width: 260px;
    height: 40px;
    position: relative;
}

#searchInput {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
}

#searchBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b7b7b7;
}

#searchBtn:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    #container {
        justify-content: center;
    }
    #searchGroup {
        display: none;
    }
    #navBottom {
        display: none;
    }
    #navLogo {
        width: 200px;
    }
}