
.searchEntry {
    width: 300px;
    border: 1px solid #e3e3e3;
    background: #fff;
    padding: 20px;
    margin: 20px;
}

#entryContent {
    display: flex;
    flex-direction: column;
}

#imgContainer {
    width: 100%;
}

#searchImg {
    width: 100%
}

#entryTitle {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    max-height: 20px;
    overflow: hidden;
}

#entryDesc {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
}

#useButton {
    width: 100%;
    background: #ffcc00;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    height: fit-content;
    box-shadow: -1px 6px 19px rgb(255 204 0 / 20%);
    padding: 6px 10px;
    margin-bottom: 10px;
}

#useButton:hover {
    cursor: pointer;
}

#site {
    font-size: 12px;
    color: #555;
}

#bottomRow {
    display: flex;
    justify-content: space-between;
}

#hourglass {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .searchEntry {
        width: 260px;
    }
}