
.latestItem {
    height: 180px;
    background: #fff;
    border: 1px solid #e3e3e3;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

/* Image */

#imgContainer {
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

#img {
    height: 100%;
}

/* Content */

#contentContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    height: 100%;
}

#couponName {
    font-size: 17px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#couponDesc {
    font-size: 13px;
    margin-bottom: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#shop {
    font-size: 11px;
    margin: 0 10px 0 0;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Time Items */

#timeContent {
    display: flex;
}

.timeField {
    font-size: 11px;
    margin: 0 10px 10px 0;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#hourglass {
    margin-right: 5px;
}

/* Code Button */

#codeBtn {
    margin: 0 20px;
    padding: 10px 28px;
    background: #ffcc00;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    height: fit-content;
    box-shadow: -1px 6px 19px rgb(255 204 0 / 20%);
    min-width: 130px;
}

#codeBtn:hover {
    cursor: pointer;
}

@media (max-width: 860px) {

    .latestItem {
        margin: 5px;
        padding: 10px;
    }

    #couponName {
        font-size: 14px;
    }

    #couponDesc {
        font-size: 10px;
    }

    #codeBtn {
        margin: 0 10px;
    }
}

@media (max-width: 760px) {

    #codeBtn {
        display: none;
    }
}

@media (max-width: 600px) {

    .latestItem {
        height: fit-content;
    }

    #imgContainer {
        display: none;
    }

    #img {
        display: none;
    }

    #contentContainer {
        display: flex;
        width: 100%;
    }

    #content {
        width: 100%;
    }

    #couponName {
        margin: 0 0 4px 0;
    }

    #couponDesc {
        height: fit-content;
        margin-bottom: 6px;
        max-height: fit-content;
    }

    .timeField {
        font-size: 9px;
    }

    #codeBtn {
        margin: 0;
        display: none;
    }
}