#latestSection {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 60px 0;
}

/* Content and List */

#latestContent {
    width: 50%
}

#latestList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#latestHeader {
    margin: 10px 0;
}

#latestTitle {
    font-size: 20px;
}

.divider {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: flex-end;
}

#left {
    height: 3px;
    width: 20%;
    background-color: #f50606;
}

#right {
    height: 1px;
    width: 80%;
    background-color: #ddd;
}

/* Sidebar */

#latestSidebar {
    width: 20%;
    margin-left: 30px;
}

@media (max-width: 1300px){

}

@media (max-width: 800px){

}

@media (max-width: 1000px){

    #latestSection {
        flex-direction: column;
        align-items: center;
    }

    #latestContent {
        width: 90%;
    }

    #latestSidebar {
        width: 90%;
        margin: 0;
    }
}