
#popSection {
    width: 100%;
}


.divider {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: flex-end;
}

#left {
    height: 3px;
    width: 20%;
    background-color: #f50606;
}

#right {
    height: 1px;
    width: 80%;
    background-color: #ddd;
}

#techHeader {
    margin: 20px 0;
    font-size: 17px;
    font-weight: 400;
}