
#suggestHeader {
    margin: 20px 0;
    font-size: 22px;
}

#headerHighlight {
    color: #f50606;
    font-weight: bold;
    font-size: 22px;
}

#suggestSection {
    width: 100%;
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.popItem {
    display: flex;
    margin-bottom: 20px;
}

#popImgContainer {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#popImg {
    width: 70px;
    height: 70px;
}

#popContent {
    margin-left: 10px;
}

#popTitle {

}

#popText {
    font-size: 13px;
}