#howSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

#howHeader {
    width: 60%;
    font-size: 20px;
    color: #23a455;
    margin: 25px 0;
    font-weight: 400;;
}

#howContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.divider {
    height: 1px;
    width: 60%;
    background: #ddd;
    margin-bottom: 30px;
}

.howEntry {
    width: 350px;
    margin: 20px;
}

#howTitle {
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 16px;
}

#howText {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #54595F;
}

@media (max-width: 600px) {
    #howHeader {
        text-align: center;
        font-size: 18px;
    }
    .howEntry {
        margin: 10px 20px;
    }
    #howTitle {
        font-size: 16px;
        margin: 5px 0;
    }
    #howText {
        font-size: 11px;
    }
}
