#postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background: #f2f2f2;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-top: 40px;
    padding: 40px;
    border: 1px solid #ddd;
    position: relative;
}

#postTop {
    display: flex;
    justify-content: center;
}

#postImg {
    width: 300px;
    height: 300px;
}

#postRight {
    margin-left: 30px;
    width: 470px;
}

#postHeader {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
}

#postDate {
    margin-top: 20px;
    color: #333;
    font-weight: normal;
    margin-bottom: 50px;
}

#postMeta {
    color: #c7c7c7;
}

#postContent {
    margin-top: 40px;
    width: 800px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #444;
}

#postContent > p {
    margin-bottom: 30px;
}

#backBtn {
    position: absolute;
    left: -50px;
    top: 20pxy;
    font-size: 20px;
}

#backBtn:hover {
    cursor:pointer;
}