#shopsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    background: #f2f2f2;
}

#shopsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin: 40px 0 0 0;
    padding: 0 30px 20px 30px;
    width: 70%;
    border: 1px solid #e3e3e3;
    min-height: 50vh;
}

#shopsHeader {
    margin: 40px 0 20px 0;
}

#shopsList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shopEntry {
    width: 200px;
    height: 80px;
    border: 1px solid #ddd;
    margin: 0 20px 20px 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#entryName {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

#shopImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    #shopsPage {
        padding-bottom: 20px;
    }
    #shopsContainer {
        width: 90%;
        margin-top: 20px;
        min-height: fit-content;
    }
    #shopsHeader {
        margin-top: 20px;
        font-size: 20px;
        margin-bottom: 10px;
    }
}