#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageHeader {
    margin-top: 40px;
}

#contactForm {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    margin-top: 30px;
}

#firstNameInput {
    margin-right: 20px;
    margin-bottom: 20px;
}

#lastNameInput {
    margin-bottom: 20px;
}

#emailInput {
    grid-column: 1 / span 2;
    margin-bottom: 20px;
}

#messageTextArea {
    grid-column: 1 / span 2;
    height: 160px;
    margin-bottom: 20px;
    resize: none;
}

#submitBtn {
    padding: 10px 28px;
    background: #ffcc00;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    height: fit-content;
    box-shadow: -1px 6px 19px rgb(255 204 0 / 20%);
    margin: 20px 0 40px 0;
}

#submitBtn:hover {
    cursor: pointer;
}

#submitText {
    color: red;
}

@media (max-width: 700px) {
    #contactForm {
        grid-template-columns: repeat(2, 160px);
    }
}

@media (max-width: 400px) {
    #contactForm {
        grid-template-columns: repeat(2, 120px);
    }
}