.latestPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    margin: 30px 0;
}

.couponList {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}