#postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
}

#postList {
    width: 90%;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pageHeader {
    margin: 40px 0;
}

#postItem {
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin: 20px;
}

#postItem:hover {
    cursor: pointer;
}

#postImg {
    width: 300px;
    height: 300px;
}

#postTitle {
    margin: 30px 0 0 0 ;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: 300px;
}

#postDate {
    margin-top: 20px;
}