#searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    padding-bottom: 50px;
}

#container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchHeader {
    margin: 30px 0;
}

#searchList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navBtn {
    background: transparent;
    border: none;
    margin: 40px 10px 0 10px;
}

.navBtn:hover {
    cursor: pointer;
}

.current {
    border-bottom: 1px solid #333;
}

@media (max-width: 600px) {
    #container {
        width: 90%;
    }
}