@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.techPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.couponList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}