#shopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    background: linear-gradient(to right, #001680, #FF0000);
}

#shopList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

#shopHeader {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
    font-family: "Poppins";
    margin-top: 60px;
}

.divider {
    height: 1px;
    width: 400px;
    background: #fff;
    margin: 40px 0;
}

#shopItem {
    width: 200px;
    height: 60px;
    margin: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopItem:hover {
    cursor: pointer;
}

#shopImg {
    width: 60%;
}

@media (max-width: 600px) {
    #shopList {
        width: 90%;
    }
    #shopHeader {
        margin-top: 15px;
        font-size: 18px;
    }
    .divider {
        margin: 10px 0;
        width: 90%;
    }
}