#shopItem {
    width: 200px;
    height: 75px;
    margin: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

#shopImg {
    width: 100%;
    height: 100%;
}

#shopName {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

#shopAlt {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #f50606;
    color: #fff;
}

#shopItem:hover #shopImg{
    display: none;
}

#shopItem:hover #shopName{
    display: none;
}

#shopItem:hover #shopAlt {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#countText {
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 600px) {
    #shopItem {
        width: 100px;
        height: 35px;
        margin: 10px;
    }
}